@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @{




        @Scripts.Render("~/bundles/jquery");
        @Scripts.Render("~/bundles/jqueryval");
        @Scripts.Render("~/bundles/jqueryvalunobtrusive");
        @Styles.Render("~/Content/css");
    }

</head>
<body>

    @{
        //string User = Convert.ToString(Session["userName"]);
        //if (User != "")

        if (!string.IsNullOrEmpty(ViewBag.User))
        {
            <div class="head">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "Index", "Home")</li>
                    <li>@Html.ActionLink("Salir", "Close", "Users")</li>
                </ul>
                <h2>Bienvenido/a @ViewBag.User </h2>
            </div><br /><br />
        }

    }

    <div>
        @RenderBody()
    </div>
    <footer style="text-align: center;">

        <p>&copy;EmilioBarrera</p>
    </footer>
</body>
</html>
